# .mailmap - Consolidate author identities
Michael A. Kuykendall <michaelallenkuykendall@gmail.com> <michaelkuykendall@users.noreply.github.com>
Michael A. Kuykendall <michaelallenkuykendall@gmail.com> VMLYR-MikeKuykendall
Michael A. Kuykendall <michaelallenkuykendall@gmail.com> Michael-A-Kuykendall
Michael A. Kuykendall <michaelallenkuykendall@gmail.com> <michael@kuykendall.dev>